body{
    margin: 0px;
    text-align: center;
    margin-top: 0;

}

.he{
    color: whitesmoke;
    margin-top: 0;
    font-size: 2.65em;
    line-height: 2;
}
.header{
    padding: 200px;
    background-color:#2c2b31;
    font-family: 'Bad Script', cursive;
}




.jumbotron{
    opacity: 0.5;
    background-size: cover;
    color: black;
    font-size: 2rem;
}


.feat{
    padding: 8% 15%;
}


.icon{
    /* padding:5%; */
    margin-bottom: 1rem;
    color:#834c69
}

.icon:hover{
    color: #951555;
}

.button
{
    font-family: 'Work Sans', sans-serif;
      font-size: 22px;
      background-color: rgb(17, 179, 243);
      color: rgb(247, 10, 22);
      border: 0px;
      border-radius: 3px;
      padding: 20px;
      cursor: pointer;
      margin-bottom: 20px;
  }